
* {

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

 
body {
  margin-top: 2px;
  font-family: 'Lato', sans-serif;
  background-color: #f8f8f8;
  min-height: 80vh;
  display: flex;
  position: relative;
  flex-direction: column;
}
body .container {
  position: relative;
  overflow: hidden;
  width: 30vw;
  height: 100%;
  margin: 0.5vw auto 0;
  background-color: #ffffff;
}
body .container .half {
  padding: 1vw 3vw 0;
}

body .container .tabs {
  width: 100%;
  margin-bottom: 2vh 2vw;
  border-bottom: 0.1vh 0.1vw solid #d9d9d9;
}

body .container .tabs .tab {
  display: inline-block;
  margin-bottom: -1px;
  padding: 20px 15px 10px;
  cursor: pointer;
  letter-spacing: 0;
  border-bottom: 1px solid #d9d9d9;
  user-select: none;
  transition: all 0.1s ease-in-out;
}

body .container .tabs .tab a {
  font-size: 1vw 1vh;
  text-decoration: none;
  text-transform: uppercase;
  color: #2c91b9;
  transition: all 0.1s ease-in-out;
}

body .container .tabs .tab.active a, body .container .tabs .tab:hover a {
  color: #263238;
}

body .container .tabs .tab.active {
  border-bottom: 0.1vh 0.1vw solid #263238;
}

body .container .content form {
  position: relative;
  height: 100%;
  padding: 0px 0px 10px;
}

body .container .content label:not([for='remember']) {
  display: none;
}

body .container .content input.inpt {
  font-size: 1vw;
  display: inline-block;
  width: 100%;
  height: 2vw;
  margin-bottom: 0.5vw;
  padding: 0.5vw 0.5vw;
  color: #999999;

}

body .container .content input.arrow {
width: 70%;
}

body .container .content .arrow_field{
  display:flex;
  justify-content: space-between;
  align-items: center
}

body .container .content input.submit {
  font-size: 1vw;
  line-height: 4vh;
  display: block;
  width: 100%;
  height: 4vh;
  cursor: pointer;
  vertical-align: middle;
  text-transform: uppercase;
  color: #263238;
  border: 0.1vw solid #263238;
  background: transparent;
}

body .container .content .signup-cont {
  display: none;
}

#game_data {
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    margin-left: 10px;
  margin-right: 10px;
  }
  
  div.scrollmenu a {
    text-decoration: none;
  }

  div.header {
    overflow: auto;
    white-space: nowrap;
    font-family: 'Arial', 'Microsoft YaHei', '黑体', '宋体', sans-serif;
    text-align: center;
    margin-bottom: 2px;
  }

  .content {
    position: relative;
    overflow: hidden;
    margin: 10px auto 0;
    min-height: 100%;
    /* equal to footer height */
   
  }

  .content:after {
    content: "";
    display: block;
  }

  .nav {
    margin-left: 0.5vw;
    display:inline-block;
    padding:0.2vw 1vw;
    font-size: 1vw;
    line-height: 1vw;
    cursor: pointer;
    vertical-align: middle;
    letter-spacing: 0.2vw;
    text-transform: uppercase;
    color: #263238;
    border: 0.1vw solid #263238;
    background: transparent;
    -moz-border-radius: 0.2vw;
    -webkit-border-radius: 0.2vw;
    border-radius: 0.2vw;
  }
  .nav:hover {
    background-color: #006ab4;
    color: #ffffff;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  #game{
    display: flex;
    width: 85%;
    background: #ffffff;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #canvas_wrapper{
  }

  #canvas{
    height:100%;
    width: 100%;
  }

  .settings {
    border: 0.1vw solid #263238;
    display: inline-block;
    min-width: fit-content;
    padding: 5px;
  }
  
  .site-footer {
    text-align: center;
    padding: 2px;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #999999;
    flex: 1;

  }

#start_game {
  margin-left: 0.5vw;
  margin-right: 5px;
  display:inline-block;
  padding:0.2vw 1vw;
  font-size: 1vw;
  line-height: 1vw;
  cursor: pointer;
  vertical-align: middle;
  letter-spacing: 0.2vw;
  text-transform: uppercase;
  color: #263238;
  border: 0.1vw solid #263238;
  background: transparent;
  -moz-border-radius: 0.2vw;
  -webkit-border-radius: 0.2vw;
  border-radius: 0.2vw;
}

#start_game:hover {
  background-color: #006ab4;
  color: #ffffff;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#random_settings {
  margin-bottom: 5px;
}


  /*  */


  




